*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    background-image: url(https://img.freepik.com/foto-gratis/fondo-hiperespacial-3d-efecto-tunel-urdimbre_1048-12526.jpg);
}

#menu{
    margin: 0;
    padding: 0;
}

#submenu{
    margin: 0;
    padding: 0;
}

#quesona{
    text-decoration: none;
    color: white;
}
#quienesona{
    text-decoration: none;
    color: white;
}

#jedis{
    text-decoration: none;
    color: white;
}

#sith{
    text-decoration: none;
    color: white;
}

body{
    background-color: rgb(37, 131, 194);
}

button{
    height: 10%;
    width: 10%;
}

.menu{
    text-align: center;
    align-items: center;
    margin-top: 30px;
}

.button{
    text-align: center;
    align-items: center;
    margin-top: 30px;
}

#carouselExample{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    height: 700px;
}

h1{
    text-align: center;
    margin: 2%;
}

p{
    text-align: center;
    margin: 2%;
    color: yellow;
}

#img1{
    height: 750px;
    width: 100;
}

#img2{
    height: 750px;
    width: 100px;
}

#img3{
    height: 750px;
    width: 100px;
}

.descripcion{
    margin-left: 10%;
    margin-right: 10%0;
    display: flex;

}


.obi-wan{
    margin-left: 10%;
    margin-right: 10%0;
    margin-top: 2%;
    display: flex;
}

.luke{
    margin-left: 10%;
    margin-right: 10%0;
    margin-top: 2%;
    display: flex;
}

.sableyoda{
    margin-left: 10%;
    margin-top: 2%;
}

.descsay{
    width: 50%;
}

#derechos{
    color: white !important;
}