header{
    display: flex;
    justify-content: center;
    background-image: url(https://img.freepik.com/foto-gratis/fondo-hiperespacial-3d-efecto-tunel-urdimbre_1048-12526.jpg);
}

#menu{
    margin: 0;
    padding: 0;
}

#submenu{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
}

body{
    background-image: url(https://static.wikia.nocookie.net/esstarwars/images/9/9d/DSI_hdapproach.png/revision/latest/thumbnail/width/360/height/360?cb=20190528184601);
    object-fit: fill;
}

#darthcarr{
    height: 800px;
}

#rencarr{
    height: 800px;
}

#greicarr{
    height: 800px;
}