header{
    display: flex;
    justify-content: center;
    background-image: url(https://img.freepik.com/foto-gratis/fondo-hiperespacial-3d-efecto-tunel-urdimbre_1048-12526.jpg);
}

#menu{
    margin: 0;
    padding: 0;
}

#submenu{
    margin: 0;
    padding: 0;
}

#quesona{
    text-decoration: none;
    color: white;
}
#quienesona{
    text-decoration: none;
    color: white;
}

#jedis{
    text-decoration: none;
    color: white;
}

#sith{
    text-decoration: none;
    color: white;
}

body{
    background-image: url(https://static.wikia.nocookie.net/esstarwars/images/9/9d/DSI_hdapproach.png/revision/latest/thumbnail/width/360/height/360?cb=20190528184601);
    object-fit: fill;
}

#darthcarr{
    height: 800px;
}

#rencarr{
    height: 800px;
}

#greicarr{
    height: 800px;
}

#queson{
    margin-top: 2%;
    width: 50%;
    margin-left: 25%;
    margin-right: 10%;
    background-color: black;
    box-shadow: 16px 16px wheat;
}

#queson h2{
    color: white;
}

#queson p{
    color: white;
}

#quienesson{
    margin-top: 2%;
    width: 50%;
    margin-left: 25%;
    margin-right: 10%;
    background-color: black;
    box-shadow: 16px 16px wheat;
}

#quienesson h2{
    color: white;
}

#quienesson p{
    color: white;
}

#derechos{
    color: white !important;
}