*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    background-image: url(https://img.freepik.com/foto-gratis/fondo-hiperespacial-3d-efecto-tunel-urdimbre_1048-12526.jpg);
}

a{
    text-decoration: none;
    color: white;
}