*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    background-image: url(https://img.freepik.com/foto-gratis/fondo-hiperespacial-3d-efecto-tunel-urdimbre_1048-12526.jpg);
}

a{
    text-decoration: none;
    color: white;
}

#menu{
    margin: 0;
    padding: 0;
}

#submenu{
    margin: 0;
    padding: 0;
}

.quees{
    width: 50%;
    margin-left: 25%;
    margin-right: 10%;
    background-color: black;
    margin-top: 5%;
    box-shadow: 15px -16px #011025;
}

.quees p{
    color: white;
}

.quees h2{
    color: white;
}

.quetrata{
    width: 50%;
    margin-left: 25%;
    margin-right: 10%;
    background-color: black;
    margin-top: 5%;
    box-shadow: 15px -16px #011025;
    h2{
        color: white;
    }
    p{
        color: white;
    }
}

body{
    background-image: url(https://m.media-amazon.com/images/I/6127qsu+YbL.jpg);
}

#derechos{
    color: white !important;
}